@model IEnumerable<BTL_MVC.Models.LoaiSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<button type="button" class="btn btn-primary" style="background: bottom;"> @Html.ActionLink("Thêm Sản Phẩm", "Create")</button>
<p>

</p>
<div class="col-md-4" style="margin-top: 60px">
    @using (Html.BeginForm("Timkiem", "loaiSanPhams", FormMethod.Get))
    {
        <input style="height:30px;width:250px;" class="search-txt" type="text" id="name" name="name" placeholder="Từ khóa">
        <button style="height: 30px; margin-left: -10px; width: 45px; background-color: lightsteelblue;" id="btnSearch" class="search-btn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>

    }
</div>
<table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>
                Mã SP
            </td>

            <td>
                Tên Sản Phẩm
            </td>
            <td>
                Sửa
            </td>
            <td>
                Xem
            </td>
            <td>Xóa</td>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ID
                </td>
                <td>
                    @item.TENLOAI
                </td>
                <td><a class="btn btn-primary" href="@Url.Action("Edit","LoaiSanPhams")/@item.ID">Edit</a></td>
                <td><a class="btn btn-primary" href="@Url.Action("Details","LoaiSanPhams")/@item.ID">Deatails</a></td>

                <td><a class="btn btn-primary" onclick="return confirm('Bạn có muốn xóa không?');" href="@Url.Action("Delete","LoaiSanPhams")/@item.ID">Xóa</a></td>

            </tr>
        }

</table>
