@model BTL_MVC.Models.KhachHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KhachHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SODIENTHOAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SODIENTHOAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIACHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TENTK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENTK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MK)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
